<mat-dialog-content (keyup.escape)="closeDialog()">
<div   *ngIf="operation.typePaiementOperation.idType === 1">
    <p>Operation ID: {{ operation.idOperation }}</p>
    <p>Num cheque: {{ operation.numC }}</p>

    <img [src]="retrievedImage" *ngIf="retrievedImage" alt="Retrieved Image">

    <p>Detected Text ai !!:</p>
    <div *ngIf="fileContent">
      <h2>Text Content:</h2>
      <pre>{{ fileContent }}</pre>
    </div>
    

  </div>

  <div   *ngIf="operation.typePaiementOperation.idType === 2">

    <p>Num rib: {{ operation.ribV }}</p>

    <img [src]="retrievedImage" *ngIf="retrievedImage" alt="Retrieved Image">

  </div>

  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-button color="warn" (click)="closeDialog()">Fermer</button>
  </mat-dialog-actions>
  