<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <!-- Autres contenus -->
        </div>
      </div>
    </div>
  
    <div *ngIf="operations && operations.length > 0">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Frais eee</h4>
          <p class="card-category">Tous les Frais</p>
        </div>
        <div class="card-body" id="sectionToPrint">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>ID</th>
                <th>Montant</th>
                <th>ID Agent</th>
                <th>Description</th>
                <th>Date</th>
                <th>Est valide</th>
              </thead>
              <tbody>
                <tr *ngFor="let op of operations">
                  <td>{{ op.idFrais }}</td>
                  <td>{{ op.montant }}</td>
                  <td>{{ op.idAgent }}</td>
                  <td>{{ op.description }}</td>
                  <td>{{ op.dateF | date }}</td>
                  <td>{{ op.isValid }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  