  <br>


  
<div class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:void(0)"></a>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <div class="form-group">
                    <select class="form-control" (click)="onOptionSelected()"  >
                      <option selected disabled>🔔 {{ nb }}</option>
                      <br>
                      <option *ngFor="let op of operation2" [value]="option" disabled>&nbsp;🦋&nbsp;&nbsp;{{ op.credit.debiteur.prenom }} (  {{ op.dateF | date }}  ) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                    </select>
                  </div>
                  
             
                  
                  
                  
            
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="material-icons">person</i>
                        <p>
                            <span class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        
    </div>
</div>

<br><br>



<br>
<br>
<mat-divider></mat-divider>



<div class="main-content">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-journal-x" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
                            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                        </svg>                    </div>
                    <p class="card-category">TOTALE DES FRAIS ENCORE</p>
                    <h3 class="card-title text-danger">--
                        <small><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-journal-x" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
                            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                        </svg> </small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="javascript:void(0)"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                        </svg>                    </div>
                    <p class="card-category">TOTALE DES FRAIS SUCCE</p><br>
                    <h3 class="card-title text-danger">--
                        <small><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                        </svg>   </small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="javascript:void(0)"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
                            <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z"/>
                            <path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z"/>
                        </svg>                    </div>
                    <p class="card-category">TOTAL DES FRAIS</p><br>
                    <h3 class="card-title text-danger">---
                        <small> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
                            <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z"/>
                            <path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z"/>
                        </svg>  </small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="javascript:void(0)"></a>
                    </div>
                </div>
            </div>
            <br> <br> 
            <div>
                <mat-form-field appearance="fill">
                  <mat-label>Type de Frais</mat-label>
                  <mat-select [(ngModel)]="selectedEtat" (selectionChange)="fetchOperations(selectedEtat)">
                    <mat-option value="Encore">Encore</mat-option>
                    <mat-option value="succe">succe</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>


              </div>

 
       
        <div class="col-md-12">
           


            <div class="card ">

                
        <div class="card-header card-header-primary">
            <h4 class="card-title text-uppercase   fs-1">Frais</h4>
            
            <p class="card-category ">Frais</p>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-warning">
                <th>ID</th>
                <th>Debiteur</th>
                <th>Montant Credit (Totale)</th>
                <th>Montant Operation</th>
                <th>Etat operation</th>
               
                <th>ID Agent</th>
                <th>Date</th>
                <th>Type Operation</th>
                <th>Type de paiement </th>
                <th>Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let op of operation">
                      <td>{{ op.idOperation }}</td>
                      <td>{{ op.credit.debiteur.nom }} {{ op.credit.debiteur.prenom }}</td>
                      <td>{{ op.credit.montant }}</td>
                      <td>{{ op.montant }}</td>
                      <td>{{ op.etatOperation }}</td>
                      
                      <td>{{ op.idAgent }}</td>
                      <td>{{ op.dateF | date }}</td>
                      <td>
                        <button mat-raised-button (click)="openDetailsPopup(op)">{{ op.detailsOperation.typeDetails }}</button>
                      </td>
                      <td>
                        <ng-container *ngIf="op.typePaiementOperation.idType !==3">
                          <button mat-raised-button (click)="openImagePopup(op)">{{ op.typePaiementOperation.nomType }}</button>
                        </ng-container>
                        <ng-container *ngIf="op.typePaiementOperation.idType ==3">
                          {{ op.typePaiementOperation.nomType }}
                        </ng-container>
                      </td>
                      <td class="td-actions text-left">
                        <button mat-raised-button type="button" (click)="openEtatPopup(op)" matTooltip="Edit Operation" [matTooltipPosition]="'above'" class="btn btn-warning btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                      
                        <button mat-raised-button type="button" (click)="exportDataToPDF(op.idOperation)" matTooltip="Extract Operation" [matTooltipPosition]="'above'" class="btn btn-warning btn-link btn-sm btn-just-icon">
                            <span class="material-icons">picture_as_pdf</span>
                          </button>
                          
                       
                    
                      </td>
            </tr>
                  </tbody>

            </table>


            <mat-paginator 
                           [pageSize]="5"
                           [pageSizeOptions]="[5, 10, 25, 100]"
                           aria-label="Select page">
            </mat-paginator>




        </div>
    </div>
</div>


