<br><br>



<br>
<br>
<mat-divider></mat-divider>
<br>

  <br><br>







<div class="container">
   
  

  
    
      <table class="table">
        <thead>
          <tr>
            <th>Credit N°</th>
            <th>Id Credit</th>
            <th>Montant</th>
            <th> <div >
                <input type="text" [(ngModel)]="searchId" placeholder="Enter debiteur ID..." (keyup.enter)="searchCreditByDebId()"  class="search-input">
                <button (click)="searchCreditByDebId()" class="search-button">Trouver 🔍</button>
              </div></th>
              <th></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let credit of credits; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ credit.idCredit }}</td>
              <td>{{credit.montant}}</td>
              <td>
                <div class="search-container">
                    <button mat-raised-button color="warn" (click)="searchOperationById(credit.idCredit)">Frais 🔍</button>
                  </div>              </td>
              <td>
                <div class="text-right">
                    <button class="btn btn-primary" (click)="openAjout(credit.idCredit)">➕ Ajouter Frais</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
              </td>
            </tr>
          </tbody>
          
      </table>

 </div>
  
  
  
  <br><br><br><br>


  <mat-divider></mat-divider>






<div class="main-content">
  

 

  




    <div  *ngIf="operations && operations.length > 0 && creditId !== null">
        <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Frais</h4>
          <p class="card-category">Tous les Frais de credit de ID: {{this.creditId}} </p>
        </div>
        <div class="card-body" id="sectionToPrint">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>ID</th>
                <th>Montant</th>
                <th>ID Agent</th>
                <th>Description</th>
                <th>Date</th>
              </thead>
              <tbody>
                <tr *ngFor="let op of operations | paginate: { itemsPerPage: 10, currentPage: p }">
                  <td>{{ op.idFrais }}</td>
                  <td>{{ op.montant }}</td>
                  <td>{{ op.idAgent }}</td>
                  <td>{{ op.description }}</td>
                  <td>{{ op.dateF | date }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
        
    <!-- Pagination controls -->
    <div class="pagination-controls" *ngIf="operations && operations.length > 0">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      </div>
      
    </div>

 
</div>

