
<div class="logo">
    <a href="" class="simple-text">
      <div class="logo-img">
        <img src="/assets/img/bna_logo.png" style="width: 110px; height: auto;" />
    
      </div>
    <br>
  <br> 

  <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  🌳{{loginData.username}}</h4>
    </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
      <p>waaa</p>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Account</span>
                </p>
            </a>
        </li>
    </ul>
  </div>

    <ul class="nav">
      <li routerLinkActive="active"  nav-item>

        <a  *ngIf="login.typeAccount=='Admin'" class="nav-link" routerLink="/Admin">
          <i class="material-icons">person</i>
          <p>Admin</p>
      </a>
</li>
        <li routerLinkActive="active"  nav-item>
            <a class="nav-link" routerLink="/Frais">
                <i class="material-icons">attach_money</i>
                <p>Frais</p>
            </a>
        
        </li>

    </ul>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Déconnexion
      </button>
    </div>
    
      </div>
