<mat-dialog-content (keyup.escape)="closeDialog()">
    <p>Ajouter Frais au crédit de ID: {{ creditId }}</p>
    <h2>Ajouter Frais</h2>
    <div>
      <mat-form-field>
        <mat-label>Montant:</mat-label>
        <input matInput type="number" [(ngModel)]="operation.montant" name="montant" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>ID Agent:</mat-label>
        <input matInput type="number" [(ngModel)]="operation.idAgent" name="idAgent" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Description:</mat-label>
        <input matInput type="text" [(ngModel)]="operation.description" name="description" required>
      </mat-form-field>
    </div>


    
<br><br>

<div class="container row">
    <div class="col-md-12">
        <h1>Upload Image</h1>
    </div>
</div>

<div class="container row">
    <div class="col-md-6">
        <input type="file" (change)="onFileChanged($event)">

    </div>
    <div class="col-md-6">
        <input type="button" (click)="onUpload()" value="upload">
    </div>
</div>
<hr />
<div class="container row">
    <div class="col-md-12">
        <div *ngIf=message>{{message}}</div>
    </div>
</div>

<div class="container row">
    <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
            name="name" />
    </div>
    <div class="col-md-6">
        <input type="button" (click)="getImage()" value="Get Image">

    </div>
</div>

<div class="container row">
    <div class="col-md-12">
        <div *ngIf=retrievedImage>
            <img [src]="retrievedImage">
        </div>
    </div>
</div>




  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="addOperation()">Ajouter</button>
    <button mat-button color="warn" (click)="closeDialog()">Annuler</button>
  </mat-dialog-actions>
  
  