<mat-dialog-content (keyup.escape)="closeDialog()">
  <p>Ajouter Frais au crédit de ID: {{ creditId }}</p>
  <h2>Ajouter Frais</h2>

  <div>
    <mat-form-field>
      <mat-label>Montant:</mat-label>
      <input matInput type="number" [(ngModel)]="operation.montant" name="montant" required>
      <mat-error *ngIf="isFieldInvalid('montant')">Montant est requis.</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>ID Agent:</mat-label>
      <input matInput type="number" [(ngModel)]="operation.idAgent" name="idAgent" required>
      <mat-error *ngIf="isFieldInvalid('idAgent')">ID Agent est requis.</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Description:</mat-label>
      <input matInput type="text" [(ngModel)]="operation.description" name="description" required>
      <mat-error *ngIf="isFieldInvalid('description')">Description est requise.</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Type de paiement</mat-label>
    <mat-select [(ngModel)]="operation.typePaiementOperation.idType" name="paymentType">
      <mat-option *ngFor="let type of typePaiementOperations" [value]="type.idType">{{ type.nomType }}</mat-option>
    </mat-select>
  </mat-form-field>

  <p>Option sélectionnée : {{ operation.typePaiementOperation.idType }}</p>

  <div *ngIf="operation.typePaiementOperation.idType === 1">
    <br>
    <div class="container row">
      <input type="file" (change)="onFileChanged($event)">
      <br>
      <mat-form-field>
        <mat-label>Numéro de Chéque:</mat-label>
        <input matInput type="number" [(ngModel)]="operation.numC" name="numC" required>
        <mat-error *ngIf="isFieldInvalid('numC')">Numéro de Chéque est requis.</mat-error>
      </mat-form-field>
    </div>
    <br><br>
  </div>

  <div *ngIf="operation.typePaiementOperation.idType === 2">
    <br>
    <div class="container row">
      <br>
      <mat-form-field>
        <mat-label>Numéro de Rib:</mat-label>
        <input matInput type="number" [(ngModel)]="operation.ribV" name="ribV" required>
        <mat-error *ngIf="isFieldInvalid('ribV')">Numéro de Rib est requis.</mat-error>
      </mat-form-field>
    </div>
    <br><br>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="addOperation()">Ajouter</button>
  <button mat-button color="warn" (click)="closeDialog()">Annuler</button>
</mat-dialog-actions>
